<!DOCTYPE html>
<html>

<head>
    <title>EAI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
        body {font-size:16px;}
        .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
        .w3-half img:hover{opacity:1}
    
        table {  
            color: #333;
            font-family: Helvetica, Arial, sans-serif;
            /*width: 640px; */
            border-collapse:
            collapse; border-spacing: 0;
        }
    
        td, th {  
            border: 1px solid transparent; /* No more visible border */
            height: 30px;
            transition: all 0.3s;  /* Simple transition for hover effect */
        }
    
        th {  
            background: #DFDFDF;  /* Darken header a bit */
            font-weight: bold;
            text-align: center;
        }
    
        td {  
            background: #FAFAFA;
        }
    
        /* Cells in even rows (2,4,6...) are one color */        
        tr:nth-child(even) td { background: #F1F1F1; }   
    
        /* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
        tr:nth-child(odd) td { background: #FEFEFE; }  
    
        tr td:hover { background: #666; color: #FFF; }  
        /* Hover cell effect! */
    </style>
</head>

<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>EAI<br>Group 5</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="#group5members" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Group 5 Members</a>
        <a href="#systems" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Systems</a>
        <a href="#topics" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Topics</a>
        <a href="#analytics" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Analytics</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Company Name</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="group5members">
        <h1 class="w3-jumbo"><b>Enterprise Application Integration</b></h1>
        <h1 class="w3-xxxlarge w3-text-red"><b>Group 5 Members</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>
  
    <!-- Group 5 Members -->
    <div class="w3-row-padding">
        <div class="w3-half">
            <p>Hari Udhayakumar</p>
            <p>Josh Simpson</p>
        </div>

        <div class="w3-half">
            <p>Dan Humphries</p>
            <p>Gergely Szabo</p>
        </div>
    </div>

    <!-- Systems -->
    <div class="w3-container" id="systems" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Systems</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>The following are the system names and their associated endpoints to which JSON data should be forwarded to based on subscriptions.</p>

        <table>
            <tr>
                <th>System Name</th>
                <th>Application Endpoint</th>
            </tr>
            {{range .Systems}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.ApplicationEndpoint}}</td>
                </tr>
            {{end}}
        </table>
    </div>
  
    <!-- Topics -->
    <div class="w3-container" id="topics" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Topics</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>The following are the various topic names, topic descriptions, topic owners, current subscribers, and topic sample data structures.</p>

        <table>
            <tr>
                <th>Topic Name</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Current Subscribers</th>
                <th>Sample Data Structure</th>
            </tr>
            {{range .Topics}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Description}}</td>
                    <td>{{.Owner}}</td>
                    <td>{{range .Subscribers}}{{.}}<br>{{end}}</td>
                    <td><pre>{{.Structure}}</pre></td>
                </tr>
            {{end}}
        </table>
    </div>

    <!-- Analytics -->
    <div class="w3-container" id="analytics" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Analytics</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>The following show the successful and failure processing of events by topic name.</p>

        <canvas id="successChart" width="800" height="600"></canvas>
        <canvas id="failureChart" width="800" height="600"></canvas>
    </div>
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Script to populate line charts.
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

var successCtx = document.getElementById("successChart");
var successChart = new Chart(successCtx, {
    type: 'line',
    data: {
        datasets: [
            {{range $key, $value := .SuccessEvents}}
                {
                    label: {{$key}},
                    borderColor: getRandomColor(),
                    fill: false,
                    data: [
                        {{range $k, $v := $value}}
                            {
                                x: new Date({{$k.Year}}, 3, {{$k.Day}}, {{$k.Hour}}, {{$k.Minute}}, {{$k.Second}}, 0),
                                y: {{$v}},
                            },
                        {{end}}
                    ],
                },
            {{end}}
        ]
    },
    options: {
        title: {
            display: true,
            text: 'Successful Publishing of Events'
        },
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'linear'
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Number of Successful Publishes'
                }
            }]
        }
    },
});

var failureCtx = document.getElementById("failureChart");
var failureChart = new Chart(failureCtx, {
    type: 'line',
    data: {
        datasets: [
            {{range $key, $value := .FailureEvents}}
                {
                    label: {{$key}},
                    borderColor: getRandomColor(),
                    fill: false,
                    data: [
                        {{range $k, $v := $value}}
                            {
                                x: new Date({{$k.Year}}, 3, {{$k.Day}}, {{$k.Hour}}, {{$k.Minute}}, {{$k.Second}}, 0),
                                y: {{$v}},
                            },
                        {{end}}
                    ],
                },
            {{end}}
        ]
    },
    options: {
        title: {
            display: true,
            text: 'Failed Publishing of Events'
        },
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'linear'
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Number of Failed Publishes'
                }
            }]
        }
    },
});
</script>

</body>
</html>
